

body
{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', arial, sans-serif;
	z-index: 100;	
}

section
{
	background-color: #ebeef3 /*#ebf5f6*/;	
}

.header
{
	/**width: 1170px;
	margin: 0 auto;*/
	display: flex;
	align-items: center;
	/*justify-content: space-around;*/
	padding-bottom: 10px;

}

.header ul
{
	display: flex;
	padding-bottom: 0;
	margin-bottom: 0;
}

.header ul i a
{
	display: flex;
	/*flex-wrap: nowrap;*/
}

ul, li
{
	display: block;
	padding: 0;
}

.logo img
{
	/*margin-right: 69px;*/
	/*background-size: cover;*/
	width: 80%;
}

.tel
{
	text-decoration: none;
	font-size: 17px;
	padding-right: auto;
	color: #000;
	font-weight: bold;
}	

.btn_gl_menu
{
	display: flex;
	/*flex-direction: row;
	flex-wrap: nowrap;*/
	justify-content: space-between;
	align-items: center;
	background-size: cover;
}

.btn_gl_menu img
{
	padding: 0px 9px; 
}

.menu
{
	margin: 0;
	padding:0;
}


.menu li a
{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;		  	
}

.menu li
{
	margin: 0px 20px;
	padding-top: 0px;	
}

.menu li a
{
	color: #000;
}

.border
{
	/*border 1px solid #d4d4d4;*/
}

.strip1
{
	width: 102%;
	height: 4px;
	background-color: #BFBFBF;
}

.strip2
{
	width: 102%;
	height: 7px;
	background-color: #E0E0E0;
}

.strip3
{
	width: 102%;
	height: 10px;
	background-color: #ebeef3;
}

.menu_
{
	border: 1px solid #d4d4d4;
	text-align: center;
	background-color: #fff;	
	padding: 10px 0px 0px 20px;		
}

.ts
{
	text-align: center;
	background-color: #fff;
	border: 1px solid #d4d4d4;
	height: 1000px;
	margin: 0px 20px; 
}

h2
{
	color: #ed6c0d;
	padding: 10px 0px 0px 0px;
	letter-spacing: 1px;
}

.text_
{
	/*padding: 15px 0px;*/
}

.footer
{
	padding: 10px 0px 0px 0px;
	border: 0px solid #D4D4D4;
	background-color: #089c0d;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 15px;
}

.img_ /*не используется*/
{
	border: 20px solid #d4d4d4;
	margin: 30px;
	background: #f4f4f4 url("../images/my_foto.jpg") center no-repeat;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img_1
{
	width: 100%;
	height: 400px;
	border: 10px solid #d4d4d4;
	margin: 10px 25%;
	background: #fff url("../images/my_foto.jpg") center no-repeat;
	background-size: contain;
	/*background-origin: content-box;*//*положение картинки относительно border*/
	/*background-position: -30px 0px;*//*сдвиг относительно границы*/
	/*background-size: contain;*//*background-size: auto 100%;
	/*background-size: cover;*//*background-size: 100% auto;*/
}

.polosa
{
	height: 40px;
}

.group
{
	border: 0px solid #d4d4d4;
	margin:; 10px;
	height: 200px;
}

.foto_1
{
	width: 100%;
	height: 100%;
	border: 10px solid #d4d4d4;
	padding: 0;
	margin: 0;
	background: #f4f4f4 url("../images/osoznannost.jpg") no-repeat;
	background-size: cover;
	/*background-origin: border-box;*/
}

.foto_2
{
	width: 100%;
	height: 100%;
	border: 10px solid #d4d4d4;
	padding: 0;
	margin: 0;
	background: #f4f4f4 url("../images/istorija.jpg") no-repeat;
	background-size: cover;
	background-origin: border-box;
}

.foto_3
{
	width: 100%;
	height: 100%;
	border: 10px solid #d4d4d4;
	padding: 0;
	margin: 0;
	background: #f4f4f4 url("../images/kartina_mira.jpg") no-repeat;
	background-size: cover;
	/*background-origin: border-box;*/
}